#define IDD_DIALOG 1000
#define IDI_OPENGL 1001
IDD_DIALOG DIALOGEX 6,6,244,142
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif"
STYLE 0x10CA0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "OpenGL",IDI_OPENGL,"Static",0x50000000,12,11,222,118,0x00000000
END
