#define IDC_WIN32APP 109
#define IDM_EXIT 105
#define IDM_ABOUT 104
IDC_WIN32APP MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Exit",IDM_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_ABOUT
  END
END
