#define IDD_MAIN 101
#define IDC_IMG1 102
#define IDC_EDT1 103
#define IDB_FONT 100

IDD_MAIN DIALOGEX 6,6,194,106
CAPTION "DialogApp"
FONT 8,"Tahoma",0,0,0
STYLE 0x10CF0800
BEGIN
  CONTROL "OK",1,"Button",0x50010000,144,90,48,13
  CONTROL "Cancel",2,"Button",0x50010000,92,90,48,13
  CONTROL IDB_FONT,IDC_IMG1,"Static",0x5000020E,0,0,189,9
  CONTROL "",IDC_EDT1,"Edit",0x50210004,0,15,195,69,0x00000200
END

IDB_FONT BITMAP DISCARDABLE "Font8x10.bmp"

