#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_OPEN 10003
#define IDM_FILE_SAVE 10004
#define IDM_FILE_SAVE_AS 10005
#define IDM_FILE_EXIT 10002
#define IDM_OPTIONS 10006
#define IDM_OPTION_ADDRESS 10007
#define IDM_OPTION_ASCII 10008
#define IDM_OPTION_UPPER 10009
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&Open File",IDM_FILE_OPEN
    MENUITEM "",,0x00000800
    MENUITEM "&Save File",IDM_FILE_SAVE,,0x00000001
    MENUITEM "Save File &As",IDM_FILE_SAVE_AS
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Options",IDM_OPTIONS
  BEGIN
    MENUITEM "Show/Hide Address",IDM_OPTION_ADDRESS,,0x00000008
    MENUITEM "Show/Hide Ascii",IDM_OPTION_ASCII,,0x00000008
    MENUITEM "&Upper/Lower case",IDM_OPTION_UPPER,,0x00000008
  END
END
